.divMusicas{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.estilosMusicais{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) #00000000; 
}

.musicas-estilos{
    border-radius: 5px;
    margin: 20px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.estilos{
    background-color: rgba(59, 59, 59, 0.352);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

.estilos:hover{
    background-color: rgba(255, 255, 255, 0.225);
}


/* Musicas*/


.musicasgeral{
    display: flex;
    flex-direction: column;
}

.letrero{
    color: white;
    margin-left: 15px;
    margin-bottom: -40px;
    z-index: 1;
}

.musicas{
    width: 100%;
    display: flex;
    flex-direction: row; 
    margin-bottom: 30px;
}

.musicas{
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(59, 59, 59) #00000000;
}

.musica{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 300px;
    background-color: rgba(59, 59, 59, 0.352);
    border-radius: 8px;
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.musica:hover{
    cursor: pointer;
}

.fotomusicas{
    width: 150px;
    height: 150px;
    margin-top: 15px;
}

.estilodasmusicas{
    width: 150px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nomemusica{
    color: #fff;
}

.nomecantor{
    color: rgb(152, 152, 152);
    margin-top: -15px;
}

.nomecantormusica{
    width: 150px;
}

.position:not(:last-child){
    margin-top: -10px;
}

.linkmusicas{
    text-decoration: none;
    border-radius: 8px;
    margin: 20px;
}

.audios{
    width: 150px;
    height: 20px;
}

@media screen and (max-width: 933px) {
    .divMusicas {
        width: 100%;
    }    
}